
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* sheard style */
.text-primary{
    color: #FD6E0A;
}
/* header */
/* text aline */
.txt-alin{
    text-align: center;
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-color: #FFF8F3; */
}
.bg-clr{
    background-color: #FFF8F3
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    /* gap: 50px; */ /* gap method 2 */

    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left:226px;
}
nav ul li{
    list-style: none;
    margin-right: 51px; /* gap method 1 */
}
nav li a{
    text-decoration: none;
}
.drk-2{
    color: #474747; 
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 220px;
}
.banner-content{
    width: 585px;
    
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-profile-pic{
    width: 584;
    height: 676;
}
/* Next lesson(2) */
/* main tag */
main{
    max-width: 1124px;
    margin: 0 auto;
}
main section{
    margin: 130px 0px;
}
.undr-box{
    background-color: #FFFFFF;
    
}
.section-title{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.abt-itms{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.itm-disc{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}
/* sill part */
.sk-cont{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.sk1{
    margin: 50px 115px ;
}
.sk-head{
    color: #181818;
    font-size: 30px;
}
.sk-disc{
    font-size: 16px;
}
/* resume part */
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgba(24, 24, 24, 1);
}
.resume-cont{
    display: flex;
    gap: 24px;
}
.rc-title{
    font-size: 30px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}
.exprnc-title{
    font-size: 25px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}
.ex-sub-title{
    font-size: 20px;
    font-weight: 600px;
    color: rgba(117, 117, 117, 1);
    
}
.ex-dec{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
}
.cv-btn{
    margin-top: 50px;
    text-align: center;
}
.btn-cv{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    /* padding: 5px 10px; */
    width: 200px;
    height: 64px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    background-color: rgba(255, 248, 243, 1);
}
.footr-title{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
}
.footer-clm{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}