
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* sheard style */
.text-primary{
    color: #FD6E0A;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    /* gap: 50px; */ /* gap method 2 */

    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left:226px;
}
nav ul li{
    list-style: none;
    margin-right: 51px; /* gap method 1 */
}
nav li a{
    text-decoration: none;
}
.drk-2{
    color: #474747; 
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 220px;
}
.banner-content{
    width: 585px;
    
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-profile-pic{
    width: 584;
    height: 676;
}